// only scss variables

$--colors: (
  "primary": (
    "base": #589ef8,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors
);

$--ep-fill-color-blank: black;
